## Homework 5: Importing, Cleaning, and Analyzing Data

## Exercises:

### 1. Find a dataset of your own choosing and import it as a dataframe using pandas. Clean the data set (i.e., drop missing values, transform non-numeric values using pd.to_numeric, etc…). Print resultant dataframe in the console.

In [1]:
!pip install stats

Requirement already satisfied: stats in c:\users\faria\anaconda3\lib\site-packages (0.1.2a0)

In [2]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\faria\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\faria\anaconda3\lib\site-packages (from pandas_datareader) (1.3.4)
Requirement already satisfied: lxml in c:\users\faria\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\faria\anaconda3\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\faria\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\faria\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\faria\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\faria\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\faria\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\faria\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\faria\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\faria\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)

In [3]:
import numpy
import pandas as pd
import stats 
from datlib.plots import * 
from datlib.FRED import *

In [4]:
data_codes  = {"Consumer Price Index: Food and Beverages": "CPIEBEV",
              "Overall Consumer Price Index": "CPIEALL",
              "U.S. National Home Price Index": "CSUSHPINSA"}
start = datetime.datetime(2002, 1, 1)
end = datetime.datetime.today()
data = gather_data(data_codes = data_codes, start = start, end = end, freq = "M")

In [5]:
data_codes  = {"U.S. National Home Price Index": "CSUSHPINSA",
               "Average Weekly Earnings of Production and Nonsupervisory Employees, Total Private": "CES0500000030",
               "Trade Balance: Goods and Services, Balance of Payments Basis": "BOPGSTB",}
start = datetime.datetime(2002, 1, 1)
end = datetime.datetime.today()
data = gather_data(data_codes = data_codes, start = start, 
                   end = end, freq = "M")

In [6]:
data.dropna(how="all", axis = 0).dropna(how = "all", axis = 0)

,U.S. National Home Price Index,"Average Weekly Earnings of Production and Nonsupervisory Employees, Total Private","Trade Balance: Goods and Services, Balance of Payments Basis"
DATE,,,
2002-01-31,116.436,497.41,-29678.0
2002-02-28,116.917,499.56,-32501.0
2002-03-31,117.930,502.40,-31161.0
2002-04-30,119.209,503.08,-33965.0
2002-05-31,120.788,504.43,-34026.0
...,...,...,...
2021-05-31,255.507,878.08,-68538.0
2021-06-30,260.987,877.05,-73230.0
2021-07-31,265.308,884.41,-70303.0
2021-08-31,268.521,886.94,-72813.0
2021-09-30,271.183,894.67,-80934.0

In [7]:
nan_value = float("NaN")
data.replace("", nan_value, inplace=True)
data.dropna(subset = ['U.S. National Home Price Index', 
                      'Average Weekly Earnings of Production and Nonsupervisory Employees, Total Private', 
                      'Trade Balance: Goods and Services, Balance of Payments Basis'], inplace=True)

In [8]:
data

,U.S. National Home Price Index,"Average Weekly Earnings of Production and Nonsupervisory Employees, Total Private","Trade Balance: Goods and Services, Balance of Payments Basis"
DATE,,,
2002-01-31,116.436,497.41,-29678.0
2002-02-28,116.917,499.56,-32501.0
2002-03-31,117.930,502.40,-31161.0
2002-04-30,119.209,503.08,-33965.0
2002-05-31,120.788,504.43,-34026.0
...,...,...,...
2021-05-31,255.507,878.08,-68538.0
2021-06-30,260.987,877.05,-73230.0
2021-07-31,265.308,884.41,-70303.0
2021-08-31,268.521,886.94,-72813.0
2021-09-30,271.183,894.67,-80934.0

In [9]:
data = data.rename(columns = {'U.S. National Home Price Index': 'Home Price Index',
                              'Average Weekly Earnings of Production and Nonsupervisory Employees, Total Private': 'Average Weekly Earning',
                             'Trade Balance: Goods and Services, Balance of Payments Basis': 'Trade Balance'}, inplace = False)
data

            Home Price Index  Average Weekly Earning  Trade Balance
DATE
2002-01-31           116.436                  497.41       -29678.0
2002-02-28           116.917                  499.56       -32501.0
2002-03-31           117.930                  502.40       -31161.0
2002-04-30           119.209                  503.08       -33965.0
2002-05-31           120.788                  504.43       -34026.0
...                      ...                     ...            ...
2021-05-31           255.507                  878.08       -68538.0
2021-06-30           260.987                  877.05       -73230.0
2021-07-31           265.308                  884.41       -70303.0
2021-08-31           268.521                  886.94       -72813.0
2021-09-30           271.183                  894.67       -80934.0

[237 rows x 3 columns]

In [10]:
stats_dict = {}
cov_dict = {}
corr_dict = {}

In [11]:
for key1, vec1 in data.items():
    stats_dict[key1] = {}
    stats_dict[key1]["variance"] = stats.variance(vec1)
    cov_dict[key1] = {}
    corr_dict[key1] = {}
    for key2, vec2 in data.items():
        cov_dict[key1][key2] = stats.covariance(vec1, vec2, sample = True)
        corr_dict[key1][key2] = stats.correlation(vec1, vec2)

AttributeError: module 'stats' has no attribute 'covariance'

In [ ]:
variance_df = pd.DataFrame(stats_dict).sort_index(axis = 0).sort_index(axis = 1)
cov_df = pd.DataFrame(cov_dict).sort_index(axis = 0).sort_index(axis = 1)
corr_df = pd.DataFrame(corr_dict).sort_index(axis = 0).sort_index(axis = 1)

#### Print resultant dataframe in the console.

### 2. Create a function that builds tables for variance, covariance, and correlation statistics for every variable in a dataframe. Use the function to create tables for a data set that you can use for a project. Save each resultant dataframe as a csv named “dataVariance.csv”, dataCovariance.csv”, and “dataCorrelation.csv”.

### 3.In chapter 6 you created a series of scatter plots that integrate a 3rd variable by adjusting the color according to the value of that variable. Each of these plots is saved in a PDF. Create a function that performs these operations on all variables in a dataframe. (You may want to pass to the function a dataframe that selects from a limited number of keys in your dataset.) Be sure to pass at least two other objects to this function (e.g., fontsize, figsize, etc..). In creating this function, remove any redundancies where the two plots share the same x and y variables (i.e., if key1 is on the horizontal axis and key2 on the vertical axis with key3 being represented by color, remove any graph where key 3 remains the same but key1 and key2 are switched.) Use this function to visualize the dataset that you chose for question #1.