## Homework 5: Importing, Cleaning, and Analyzing Data

## Exercises:

### 1. Find a dataset of your own choosing and import it as a dataframe using pandas. Clean the data set (i.e., drop missing values, transform non-numeric values using pd.to_numeric, etc…). Print resultant dataframe in the console.

I am using a dataset from Datahub (https://datahub.io/core/employment-us#resource-employment-us_zip). This dataset is about US employment and unemployment rates since 1940. The official title of the dataset is: Employment status of the civilian noninstitutional population, 1940 to date from USA Bureau of Labor Statistics. Here, the numbers are in thousand.

In [33]:
!pip install stats

Requirement already satisfied: stats in c:\users\faria\anaconda3\lib\site-packages (0.1.2a0)

In [34]:
import numpy
import pandas as pd
import stats 
from pandas import DataFrame

In [63]:
data = pd.read_excel("aat1.xlsx", 
                     header = [0])
data

,year,population,labor_force,population_percent,employed_total,employed_percent,agrictulture_ratio,nonagriculture_ratio,unemployed,unemployed_percent,not_in_labor,footnotes
0,1941,99900,55910,56.0,50350,50.4,9100,41250,5560,9.9,43990,NaN
1,1942,98640,56410,57.2,53750,54.5,9250,44500,2660,4.7,42230,NaN
2,1943,94640,55540,58.7,54470,57.6,9080,45390,1070,1.9,39100,NaN
3,1944,93220,54630,58.6,53960,57.9,8950,45010,670,1.2,38590,NaN
4,1945,94090,53860,57.2,52820,56.1,8580,44240,1040,1.9,40230,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
66,2006,228815,151428,66.2,144427,63.1,2206,142221,7001,4.6,77387,1.0
67,2007,231867,153124,66.0,146047,63.0,2095,143952,7078,4.6,78743,1.0
68,2008,233788,154287,66.0,145362,62.2,2168,143194,8924,5.8,79501,1.0
69,2009,235801,154142,65.4,139877,59.3,2103,137775,14265,9.3,81659,1.0
70,2010,237830,153889,64.7,139064,58.5,2206,136858,14825,9.6,83941,1.0

In [64]:
#To check the number of rows and columns: 
data.dropna(how="all", axis = 1).dropna(how = "all", axis =0)

,year,population,labor_force,population_percent,employed_total,employed_percent,agrictulture_ratio,nonagriculture_ratio,unemployed,unemployed_percent,not_in_labor,footnotes
0,1941,99900,55910,56.0,50350,50.4,9100,41250,5560,9.9,43990,NaN
1,1942,98640,56410,57.2,53750,54.5,9250,44500,2660,4.7,42230,NaN
2,1943,94640,55540,58.7,54470,57.6,9080,45390,1070,1.9,39100,NaN
3,1944,93220,54630,58.6,53960,57.9,8950,45010,670,1.2,38590,NaN
4,1945,94090,53860,57.2,52820,56.1,8580,44240,1040,1.9,40230,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
66,2006,228815,151428,66.2,144427,63.1,2206,142221,7001,4.6,77387,1.0
67,2007,231867,153124,66.0,146047,63.0,2095,143952,7078,4.6,78743,1.0
68,2008,233788,154287,66.0,145362,62.2,2168,143194,8924,5.8,79501,1.0
69,2009,235801,154142,65.4,139877,59.3,2103,137775,14265,9.3,81659,1.0
70,2010,237830,153889,64.7,139064,58.5,2206,136858,14825,9.6,83941,1.0

In [66]:
# Cleaning the data
#Start by removing columns with data that will not be useful in this analysis. 
# First, let's check the names of the DataFrame columns in the console. 
data.keys() #you can also use data.columns

Index(['year', 'population', 'labor_force', 'population_percent',
       'employed_total', 'employed_percent', 'agrictulture_ratio',
       'nonagriculture_ratio', 'unemployed', 'unemployed_percent',
       'not_in_labor', 'footnotes'],
      dtype='object')

In [67]:
#drop unnecessary keys
skip_keys = ['footnotes']
data1 = data.drop(skip_keys, axis = 1).dropna(how = "any", axis = 0)
# Drop rows that do not include observation for every category
data1

,year,population,labor_force,population_percent,employed_total,employed_percent,agrictulture_ratio,nonagriculture_ratio,unemployed,unemployed_percent,not_in_labor
0,1941,99900,55910,56.0,50350,50.4,9100,41250,5560,9.9,43990
1,1942,98640,56410,57.2,53750,54.5,9250,44500,2660,4.7,42230
2,1943,94640,55540,58.7,54470,57.6,9080,45390,1070,1.9,39100
3,1944,93220,54630,58.6,53960,57.9,8950,45010,670,1.2,38590
4,1945,94090,53860,57.2,52820,56.1,8580,44240,1040,1.9,40230
...,...,...,...,...,...,...,...,...,...,...,...
66,2006,228815,151428,66.2,144427,63.1,2206,142221,7001,4.6,77387
67,2007,231867,153124,66.0,146047,63.0,2095,143952,7078,4.6,78743
68,2008,233788,154287,66.0,145362,62.2,2168,143194,8924,5.8,79501
69,2009,235801,154142,65.4,139877,59.3,2103,137775,14265,9.3,81659
70,2010,237830,153889,64.7,139064,58.5,2206,136858,14825,9.6,83941

In [68]:
keys = data1.keys()
data1.rename(
    columns = {keys[i]:keys[i].replace(
        str(i) + "  ", "") for i in range(len(data.keys()) - 1)},
    inplace = True)
data1.columns

Index(['year', 'population', 'labor_force', 'population_percent',
       'employed_total', 'employed_percent', 'agrictulture_ratio',
       'nonagriculture_ratio', 'unemployed', 'unemployed_percent',
       'not_in_labor'],
      dtype='object')

In [69]:
stats_dict = {}
cov_dict = {}
corr_dict = {}

In [70]:
for key1, vec1 in data_for_stats.items():
    stats_dict[key1] = {}
    stats_dict[key1]["mean"] = stats.mean(list(vec1))
    stats_dict[key1]["median"] = stats.median(vec1)
    stats_dict[key1]["variance"] = stats.variance(vec1)
    stats_dict[key1]["standard deviation"] = stats.SD(vec1, sample = True)
    stats_dict[key1]["skewness"] = stats.skewness(vec1, sample = True)
    stats_dict[key1]["kurtosis"] = stats.kurtosis(vec1, sample = True)
    cov_dict[key1] = {}
    corr_dict[key1] = {}
    for key2, vec2 in data_for_stats.items():
        cov_dict[key1][key2] =stats.covariance(vec1, vec2, sample = True)
        corr_dict[key1][key2] = stats.correlation(vec1, vec2)

AttributeError: module 'stats' has no attribute 'SD'

In [59]:
#convert stats, cov, and corr dictionaries to pandas DataFrames
stats_DF = pd.DataFrame(stats_dict)
cov_DF = pd.DataFrame(cov_dict).sort_index(axis = 0).sort_index(axis = 1)
corr_DF = pd.DataFrame(corr_dict).sort_index(axis = 0).sort_index(axis = 1)
stats_DF

                 year
mean      1975.098592
median    1975.000000
variance   419.690141

#### Print resultant dataframe in the console.

### 2. Create a function that builds tables for variance, covariance, and correlation statistics for every variable in a dataframe. Use the function to create tables for a data set that you can use for a project. Save each resultant dataframe as a csv named “dataVariance.csv”, dataCovariance.csv”, and “dataCorrelation.csv”.

In [51]:
var = print(data1.var())

year                    4.196901e+02
population              2.023168e+09
labor_force             1.114273e+09
population_percent      1.234674e+01
employed_total          9.605221e+08
employed_percent        9.861988e+00
agrictulture_ratio      4.225275e+06
nonagriculture_ratio    1.071890e+09
unemployed              8.726294e+06
unemployed_percent      3.308044e+00
not_in_labor            1.391430e+08
dtype: float64

In [50]:
cov = print(data1.cov())

                               year    population   labor_force  \
year                     419.690141  9.144971e+05  6.768410e+05
population            914497.147887  2.023168e+09  1.499149e+09
labor_force           676840.964990  1.499149e+09  1.114273e+09
population_percent        67.835473  1.488787e+05  1.121971e+05
employed_total        627095.342254  1.388242e+09  1.033035e+09
employed_percent          55.325533  1.210362e+05  9.213683e+04
agrictulture_ratio    -38246.549296 -7.948042e+07 -5.805892e+07
nonagriculture_ratio  665342.782897  1.467725e+09  1.091096e+09
unemployed             49751.393964  1.109191e+08  8.124667e+07
unemployed_percent        14.674728  3.281054e+04  2.324634e+04
not_in_labor          237655.378471  5.240178e+08  3.848744e+08

                      population_percent  employed_total  employed_percent  \
year                           67.835473    6.270953e+05         55.325533
population                 148878.686479    1.388242e+09     121036.187002
labor_force                112197.123078    1.033035e+09      92136.834809
population_percent             12.346740    1.042764e+05         10.391555
employed_total             104276.418994    9.605221e+08      87309.571388
employed_percent               10.391555    8.730957e+04          9.861988
agrictulture_ratio          -5858.846922   -5.356951e+07      -4568.095191
nonagriculture_ratio       110135.403400    1.014093e+09      91877.699336
unemployed                   7921.495654    7.252122e+07       4827.713883
unemployed_percent              2.144690    1.892753e+04         -0.000732
not_in_labor                36681.360785    3.552057e+08      28899.292374

                      agrictulture_ratio  nonagriculture_ratio    unemployed  \
year                       -3.824655e+04          6.653428e+05  4.975139e+04
population                 -7.948042e+07          1.467725e+09  1.109191e+08
labor_force                -5.805892e+07          1.091096e+09  8.124667e+07
population_percent         -5.858847e+03          1.101354e+05  7.921496e+03
employed_total             -5.356951e+07          1.014093e+09  7.252122e+07
employed_percent           -4.568095e+03          9.187770e+04  4.827714e+03
agrictulture_ratio          4.225275e+06         -5.779480e+07 -4.489975e+06
nonagriculture_ratio       -5.779480e+07          1.071890e+09  7.701147e+07
unemployed                 -4.489975e+06          7.701147e+07  8.726294e+06
unemployed_percent         -1.609288e+03          2.053697e+04  4.319308e+03
not_in_labor               -2.142139e+07          3.766278e+08  2.967221e+07

                      unemployed_percent  not_in_labor
year                           14.674728  2.376554e+05
population                  32810.543360  5.240178e+08
labor_force                 23246.336499  3.848744e+08
population_percent              2.144690  3.668136e+04
employed_total              18927.531368  3.552057e+08
employed_percent               -0.000732  2.889929e+04
agrictulture_ratio          -1609.287787 -2.142139e+07
nonagriculture_ratio        20536.971147  3.766278e+08
unemployed                   4319.307968  2.967221e+07
unemployed_percent              3.308044  9.563991e+03
not_in_labor                 9563.990704  1.391430e+08

In [46]:
corr = print(data1.corr())

                          year  population  labor_force  population_percent  \
year                  1.000000    0.992435     0.989752            0.942359
population            0.992435    1.000000     0.998465            0.941977
labor_force           0.989752    0.998465     1.000000            0.956555
population_percent    0.942359    0.941977     0.956555            1.000000
employed_total        0.987678    0.995854     0.998540            0.957539
employed_percent      0.859961    0.856874     0.878932            0.941721
agrictulture_ratio   -0.908239   -0.859640    -0.846147           -0.811164
nonagriculture_ratio  0.991987    0.996675     0.998371            0.957361
unemployed            0.822102    0.834787     0.823939            0.763161
unemployed_percent    0.393840    0.401062     0.382889            0.335585
not_in_labor          0.983451    0.987642     0.977445            0.884990

                      employed_total  employed_percent  agrictulture_ratio  \
year                        0.987678          0.859961           -0.908239
population                  0.995854          0.856874           -0.859640
labor_force                 0.998540          0.878932           -0.846147
population_percent          0.957539          0.941721           -0.811164
employed_total              1.000000          0.897069           -0.840885
employed_percent            0.897069          1.000000           -0.707661
agrictulture_ratio         -0.840885         -0.707661            1.000000
nonagriculture_ratio        0.999423          0.893620           -0.858788
unemployed                  0.792130          0.520408           -0.739438
unemployed_percent          0.335780         -0.000128           -0.430448
not_in_labor                0.971618          0.780143           -0.883465

                      nonagriculture_ratio  unemployed  unemployed_percent  \
year                              0.991987    0.822102            0.393840
population                        0.996675    0.834787            0.401062
labor_force                       0.998371    0.823939            0.382889
population_percent                0.957361    0.763161            0.335585
employed_total                    0.999423    0.792130            0.335780
employed_percent                  0.893620    0.520408           -0.000128
agrictulture_ratio               -0.858788   -0.739438           -0.430448
nonagriculture_ratio              1.000000    0.796279            0.344886
unemployed                        0.796279    1.000000            0.803921
unemployed_percent                0.344886    0.803921            1.000000
not_in_labor                      0.975229    0.851539            0.445782

                      not_in_labor
year                      0.983451
population                0.987642
labor_force               0.977445
population_percent        0.884990
employed_total            0.971618
employed_percent          0.780143
agrictulture_ratio       -0.883465
nonagriculture_ratio      0.975229
unemployed                0.851539
unemployed_percent        0.445782
not_in_labor              1.000000

In [55]:
#convert stats, cov, and corr dictionaries to pandas DataFrames

cov_DF = pd.DataFrame(cov)
cov_DF

Empty DataFrame
Columns: []
Index: []

### 3.In chapter 6 you created a series of scatter plots that integrate a 3rd variable by adjusting the color according to the value of that variable. Each of these plots is saved in a PDF. Create a function that performs these operations on all variables in a dataframe. (You may want to pass to the function a dataframe that selects from a limited number of keys in your dataset.) Be sure to pass at least two other objects to this function (e.g., fontsize, figsize, etc..). In creating this function, remove any redundancies where the two plots share the same x and y variables (i.e., if key1 is on the horizontal axis and key2 on the vertical axis with key3 being represented by color, remove any graph where key 3 remains the same but key1 and key2 are switched.) Use this function to visualize the dataset that you chose for question #1.